@font-face {
  font-family: 'iconfont'; /* project id 1725297 */
  src: url('//at.alicdn.com/t/font_1725297_ebrqfs17ky.eot');
  src: url('//at.alicdn.com/t/font_1725297_ebrqfs17ky.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1725297_ebrqfs17ky.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1725297_ebrqfs17ky.woff') format('woff'),
    url('//at.alicdn.com/t/font_1725297_ebrqfs17ky.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1725297_ebrqfs17ky.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-appreciate:before {
  content: "\e644";
}

.icon-check:before {
  content: "\e645";
}

.icon-close:before {
  content: "\e646";
}

.icon-edit:before {
  content: "\e649";
}

.icon-roundcheckfill:before {
  content: "\e656";
}

.icon-roundcheck:before {
  content: "\e657";
}

.icon-roundclosefill:before {
  content: "\e658";
}

.icon-roundclose:before {
  content: "\e659";
}

.icon-warnfill:before {
  content: "\e662";
}

.icon-warn:before {
  content: "\e663";
}

.icon-commentfill:before {
  content: "\e667";
}

.icon-likefill:before {
  content: "\e668";
}

.icon-like:before {
  content: "\e669";
}

.icon-notificationfill:before {
  content: "\e66a";
}

.icon-notification:before {
  content: "\e66b";
}

.icon-more:before {
  content: "\e684";
}

.icon-moreandroid:before {
  content: "\e6a5";
}

.icon-cart:before {
  content: "\e6af";
}

.icon-delete:before {
  content: "\e6b4";
}

.icon-home:before {
  content: "\e6b8";
}

.icon-message:before {
  content: "\e6bc";
}

.icon-lock:before {
  content: "\e6c1";
}

.icon-unlock:before {
  content: "\e6c2";
}

.icon-add:before {
  content: "\e6da";
}

.icon-appreciatefill:before {
  content: "\e6e3";
}

.icon-infofill:before {
  content: "\e6e4";
}

.icon-info:before {
  content: "\e6e5";
}

.icon-share:before {
  content: "\e6f3";
}

.icon-sort:before {
  content: "\e700";
}

.icon-copy:before {
  content: "\e706";
}

.icon-noticefill:before {
  content: "\e709";
}

.icon-notice:before {
  content: "\e70a";
}

.icon-font:before {
  content: "\e6ec";
}

.icon-angle-left:before {
  content: "\e697";
}

.icon-angle-top:before {
  content: "\e6a6";
}

.icon-angle-down:before {
  content: "\e6a7";
}

.icon-angle-right:before {
  content: "\e6a8";
}

.icon-clock:before {
  content: "\e688";
}

.icon-arrow-down:before {
  content: "\e72d";
}

.icon-bold:before {
  content: "\e603";
}

.icon-search:before {
  content: "\e623";
}

.icon-image:before {
  content: "\eb26";
}

.icon-align-top:before {
  content: "\e651";
}

.icon-help:before {
  content: "\e61e";
}

.icon-circle:before {
  content: "\e600";
}

.icon-play:before {
  content: "\e636";
}

.icon-loading:before {
  content: "\e61c";
}

.icon-cube:before {
  content: "\e6fc";
}

.icon-star-half-o:before {
  content: "\e828";
}

.icon-star-o:before {
  content: "\e82a";
}

.icon-star:before {
  content: "\e82b";
}

.icon-reply:before {
  content: "\e8ad";
}

.icon-redo:before {
  content: "\e8ae";
}

.icon-help-circle:before {
  content: "\e637";
}

.icon-triangle-down:before {
  content: "\e70f";
}

.icon-triangle-up:before {
  content: "\e710";
}

.icon-flow-event:before {
  content: "\e665";
}

.icon-triangle-right:before {
  content: "\e607";
}

.icon-triangle-left:before {
  content: "\e608";
}

.icon-pc:before {
  content: "\e639";
}

.icon-download:before {
  content: "\e691";
}

.icon-pentagram:before {
  content: "\e64b";
}

.icon-folder:before {
  content: "\e67c";
}

.icon-file:before {
  content: "\e7b4";
}

.icon-inital:before {
  content: "\e716";
}

.icon-round-rect:before {
  content: "\e62d";
}

.icon-upload:before {
  content: "\e64a";
}

.icon-fly:before {
  content: "\ec46";
}

.icon-picture:before {
  content: "\e64e";
}

.icon-align-center:before {
  content: "\e635";
}

.icon-panel:before {
  content: "\e6a2";
}

.icon-share2:before {
  content: "\e66c";
}

.icon-arrow-right:before {
  content: "\e6c0";
}

.icon-full-screen:before {
  content: "\e63a";
}

.icon-data:before {
  content: "\e64c";
}

.icon-dash-dot:before {
  content: "\e664";
}

.icon-final:before {
  content: "\e61d";
}

.icon-loop:before {
  content: "\e638";
}

.icon-arrow-left:before {
  content: "\ec47";
}

.icon-flow-start:before {
  content: "\e602";
}

.icon-flow-document:before {
  content: "\e601";
}

.icon-flow-data:before {
  content: "\e605";
}

.icon-flow-ready:before {
  content: "\e609";
}

.icon-rectangle:before {
  content: "\e60b";
}

.icon-diamond:before {
  content: "\e604";
}

.icon-flow-manually:before {
  content: "\e610";
}

.icon-flow-display:before {
  content: "\e611";
}

.icon-flow-parallel:before {
  content: "\e612";
}

.icon-flow-comment:before {
  content: "\e613";
}

.icon-flow-queue:before {
  content: "\e614";
}

.icon-rect:before {
  content: "\e604";
}

.icon-triangle:before {
  content: "\e615";
}

.icon-pentagon:before {
  content: "\e616";
}

.icon-hexagon:before {
  content: "\e617";
}

.icon-twoway-arrow:before {
  content: "\e618";
}

.icon-text:before {
  content: "\e619";
}

.icon-cloud:before {
  content: "\e60a";
}

.icon-msg:before {
  content: "\e61a";
}

.icon-flow-subprocess:before {
  content: "\e606";
}

.icon-db:before {
  content: "\e60c";
}

.icon-internal-storage:before {
  content: "\e60d";
}

.icon-extern-storage:before {
  content: "\e60e";
}

.icon-line:before {
  content: "\e61b";
}

.icon-pause:before {
  content: "\e698";
}

.icon-action:before {
  content: "\e61f";
}

.icon-swimlane-v:before {
  content: "\e620";
}

.icon-swimlane-h:before {
  content: "\ec48";
}

.icon-fork-v:before {
  content: "\e621";
}

.icon-fork:before {
  content: "\ec49";
}

.icon-lifeline:before {
  content: "\e624";
}

.icon-people:before {
  content: "\e625";
}

.icon-focus:before {
  content: "\e622";
}

.icon-simple-class:before {
  content: "\e626";
}

.icon-class:before {
  content: "\e627";
}

.icon-curve:before {
  content: "\e628";
}

.icon-polyline:before {
  content: "\e629";
}

.icon-to-triangle:before {
  content: "\e62a";
}

.icon-from-triangle:before {
  content: "\ec4b";
}

.icon-from-diamond:before {
  content: "\e62c";
}

.icon-to-diamond:before {
  content: "\ec4c";
}

.icon-to-circle:before {
  content: "\e62f";
}

.icon-from-circle:before {
  content: "\ec4e";
}

.icon-to-lineUp:before {
  content: "\e631";
}

.icon-from-lineDown:before {
  content: "\ec50";
}

.icon-to-lineDown:before {
  content: "\e632";
}

.icon-from-lineUp:before {
  content: "\ec51";
}

.icon-from-:before {
  content: "\e633";
}

.icon-to-:before {
  content: "\ec52";
}

.icon-from-triangleSolid:before {
  content: "\e634";
}

.icon-to-triangleSolid:before {
  content: "\ec53";
}

.icon-from-diamondSolid:before {
  content: "\e62e";
}

.icon-to-diamondSolid:before {
  content: "\ec54";
}

.icon-to-circleSolid:before {
  content: "\e62b";
}

.icon-from-circleSolid:before {
  content: "\ec55";
}

.icon-from-line:before {
  content: "\e630";
}

.icon-to-line:before {
  content: "\ec56";
}

.icon-arrow-up:before {
  content: "\ec57";
}

.icon-align-bottom:before {
  content: "\ec58";
}

.icon-align-left:before {
  content: "\ec59";
}

.icon-align-right:before {
  content: "\ec5a";
}

.icon-align-middle:before {
  content: "\ec5b";
}
